/* Custom styles for your page */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex: auto;
    flex-direction: row;
}

header, footer {
    flex-shrink: 0;
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
}

/* Responsive design for smartphones */
@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    main {
        flex-direction: column;
    }

    article, aside {
        flex: 1;
    }
}
.hero{
    ;
}